<template>
  <div class="header">
    <h1>Test blog</h1>
    <div>
    <div id="nav">
      <router-link to="/">List posts</router-link> |
      <router-link to="/createPost">Create post</router-link> |
      <router-link to="/login">Login</router-link> |
      <router-link to="/register">Register</router-link> |
      <router-link to="/logout">Logout</router-link>
    </div>
    <hr>
    <router-view></router-view>
  </div>
  </div>
</template>

<script>
const API_URL = 'http://localhost:3000/post/list';

export default {
  /*eslint-disable*/  
  name: 'home',
  data: () => ({
    error: '',
    posts: [],
  }),
  async mounted() {
    const response = await fetch(API_URL)
      .catch((e)=>{
        console.error(e);
        this.error = e;
      })
      if (!response.ok) {
        const text = await response.text();
        this.error = text ? text : response.statusText;
      } else {
        this.posts = await response.json();
      }
  },
};
</script>

<style>
img {
  max-width: 100px;
  height: auto;
}
h1 {
  margin-bottom:10px;
}
.header {
  margin-bottom:50px;
}
</style>
