<template>
  <div>
    <form @submit.prevent="addPost" class="mb-3">
      <div v-if="error" class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">{{error}}</p>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          v-model="post.title"
          type="text"
          class="form-control"
          id="title"
          placeholder="Enter a title" required>
      </div>
      <vue-editor v-model="post.content"></vue-editor>
      <div class="dropbox">
          <input type="file" id="thumbnail"
          @change="onFileChange"
            accept="image/*" class="input-file">
        </div>
      <button type="submit" class="btn btn-primary">Add Post</button>
    </form>
  </div>
</template>

<script>
/*eslint-disable*/
import { VueEditor } from "vue2-editor";
const CREATE_URL = "http://localhost:3000/post/create";
const FETCH_URL = "http://localhost:3000/post/list";
export default {
  name: "createPost",
  data: () => ({
    error: "",
    post: {
      title: "",
      content: "",
    }
  }),
  components: {
    VueEditor,
  },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (files.length) {
        this.post.thumbnail = files[0]
      }
    },
    areCredentialsSet() {
      const storedEmail = localStorage.getItem('email')
      const storedPassword = localStorage.getItem('password')
      if (!storedEmail || !storedPassword){
        this.$router.push('login');
      }
    },
    async addPost() {
      var formData = new FormData();
      formData.append("title", this.post.title)
      formData.append("content", this.post.content)
      if (this.post.thumbnail) {
        formData.append("thumbnail", this.post.thumbnail);
      }

      this.areCredentialsSet()
       
      const response = await fetch(CREATE_URL, {
        method: "POST",
        body: formData,
        headers: {
          "Authorization": "Basic " + btoa(`${localStorage.getItem('email')}:${localStorage.getItem('password')}`)
        }
      }).catch((e)=>{
        console.error(e);
        this.error = e;
      });
      
      if (!response.ok) {
        const text = response.text();
        this.error = text ? text : response.statusText;

        //Authentication failed
        if (response.status === 401) {
          localStorage.removeItem('email');
          localStorage.removeItem('password')
        }
      } else {
        this.error = "";
        location.reload();
      }        
    }
  }
};
</script>

<style>
img {
  max-width: 300px;
  height: auto;
}
</style>