<template>
  <div>
      <h2 class="mt-0 mb-1">Blog posts</h2>
      <hr>
       <div v-for="posts in posts" :key="posts._id">
        <img v-if="posts.thumbnail" class="mr-3" :src="'http://localhost:3000/upload/' + posts.thumbnail"
        :alt="posts.subject">
        <br />
          <small>{{moment(posts.created).format('YYYY-MM-DD HH:SS')}}</small>
        <div class="media-body">
          <h2><router-link :to="{ name: 'ViewPost', params: {postId: posts._id } }">
            {{posts.title}}
            </router-link></h2>
          <p v-html="posts.content"></p>
          <br />
        </div>
      <hr>
    </div>
  </div>
</template>

<script>
const API_URL = 'http://localhost:3000/post/list';

export default {
  /*eslint-disable*/  
  name: 'listPosts',
  data: () => ({
    error: '',
    posts: [],
  }),
  async mounted() {
    const response = await fetch(API_URL).catch((e)=> {
      console.error(e);
      this.error = e;
    });
    
    if (!response.ok) {
      const text = await response.text();
      this.error = text ? text : response.statusText;
    } else {
      this.posts = await response.json();
    }
  },
};
</script>

<style>
img {
  max-width: 100px;
  height: auto;
}
h1 {
  margin-bottom:10px;
}
.header {
  margin-bottom:50px;
}
</style>
