<template>
  <div>
    <form @submit.prevent="registerUser" class="mb-3">
      <div v-if="error" class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Error!</h4>
        <p class="mb-0">{{error}}</p>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          v-model="user.email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="user.password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</template>

<script>
/*eslint-disable*/
const endpoint = "http://localhost:3000/user/login";

export default {
  name: "registerUser",
  data: () => ({
    error: "",
    user: {
      email: "",
      password: "",
    }
  }),
  methods: {
    async registerUser() {
      const response = await fetch(endpoint, {
        method: "POST",
        body: JSON.stringify({email: this.user.email, password: this.user.password}),
        headers: {"content-type": "application/json"}
      }).catch((e)=>{
        this.error = e;
        console.error(e);
      })

      if (!response.ok) {
        const text = await response.text();
        this.error = text ? text : response.statusText;
      } else {
        localStorage.setItem('email',this.user.email)
        localStorage.setItem('password',this.user.password)        

        if(this.$route.params.nextUrl != null){
          this.$router.push(this.$route.params.nextUrl);
          return;
        }
        this.$router.push('createPost');
      }
    }
  }
};
</script>