<template>
  <div>
    <p>Logging out...</p>
  </div>
</template>
<script>
/*eslint-disable*/

export default {
  name: "logoutUser",
  mounted() {    
      localStorage.removeItem('email')
      localStorage.removeItem('password')
      this.$router.push('/');
  }
};
</script>