<template>
  <div>
    <div v-if="post">
        <img v-if="post.thumbnail" class="mr-3" :src="'http://localhost:3000/upload/' + post.thumbnail"
        :alt="post.title">
        <br />
          <small>{{moment(post.created).format('YYYY-MM-DD HH:SS')}}</small>
        <div class="media-body">
          <h1 class="mt-0 mb-1">{{post.title}}</h1>
          <p v-html="post.content"></p>
          <br />
        </div>
      <hr>
      </div>
  </div>
</template>

<script>
const endpoint = 'http://localhost:3000/post/view/';

export default {
  /*eslint-disable*/  
  name: 'home',
  data: () => ({
    error: '',
    post: null,
  }),
  async mounted() {
    const response = await fetch(endpoint + this.$route.params.postId)
      .catch((e)=>{
        console.error(e);
        this.error = e;
      })
    if (!response.ok) {
      const text = await response.text();
      this.error = text ? text : response.statusText;
    } else {
      this.post = await response.json();
    }
  },
};
</script>

<style>
img {
  max-width: 100px;
  height: auto;
}
h1 {
  margin-bottom:10px;
}
.header {
  margin-bottom:50px;
}
</style>
